<head><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a test">
    
    <link rel="shortcut icon" href="https://t9.no/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.min.css">


    <title>nrkfzf</title>
    <link rel="webmention" href="https://webmention.io/t9.no/webmention" />
    <link rel="pingback" href="https://webmention.io/t9.no/xmlrpc" />
</head>
</head>
<h2 class="p-name"><a href="http://localhost:1313/">Johannes Hove-Henriksen</a></h2>
<article class="h-entry">
        <h1 class="p-name">nrkfzf</h1>
                <time class="dt-published" datetime="2021-05-16 12:42:40.302744 &#43;0200 CEST m=&#43;0.078710386">June 13, 2013</time>
                <div class="tags">
            
            <a href="/categories/nrkfzf">nrkfzf</a><br>
            
            <span>tags:</span>
            
            <a href="/tags/github" rel="tag">github</a>
            
            <a href="/tags/ytfzf" rel="tag">ytfzf</a>
            
            <a href="/tags/update" rel="tag">update</a>
            
            <a href="/tags/nrk" rel="tag">nrk</a>
            
           </div>



    <div class="e-content"><h1 id="ytfzf-for-nrk">ytfzf for nrk.</h1>
<p>I have been working on a script similar to ytfz the only difference is that it is meant for nrk. nrk which is the state channel in norway.</p>
<p>i have been working on a script that is uses the nrk search <a href="https://psapi.nrk.no/search?q=norge">api</a> to search for somthing than pipe it to mpv and show it to the user.</p>
<p>make a <a href="https://github.com/pystardust/ytfzf">ytfzf</a> like</p>
</div>

<form action="https://webmention.io/t9.no/webmention" method="post">
  <input name="source" placeholder="Have you written a response? Paste its URL here!" type="url" required>
  <input name="target" value="https://t9.no/nrkfzf/" type="hidden">
  <input value="Send Webmention" type="submit">
</form>
</article><footer>
        <img src="https://dyremyhr.no/img/abcbttn.gif" alt="Viewable With Any Browser">
        <img src="https://dyremyhr.no/img/html5-validator-badge.png" alt="Valid HTML!">
        <img src="https://dyremyhr.no/img/vcss.gif" alt="Valid CSS!">
        <img src="https://dyremyhr.no/img/wiby.gif" alt="wiby search">
        <br>Copyright © 2021 Johannes Hove-Henriksen
</footer>
